html {
    color: fuchsia;
}

body {
    color: blue;
    background-color: lavender;
}

h1 {
/*    color: green;*/
    background-color: beige;
}

.cis-260 {
    color: darkorchid;
}

.test {
    background-color: cornsilk;
}

.anchor {
    background-color: darksalmon;
}

p {
    color: aquamarine;
    font-size: 24pt;
    background-color: azure;
}

a {
    color: darkred;
}
